<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />

<link rel="stylesheet" href="images/HigherGround.css" type="text/css" />

<title>Electroglide</title></head>

<body>
<!-- wrap starts here -->
<div id="wrap">

	<div id="top-bg"></div>
				
	<!--header -->
	<div id="header">			
			
		<h1 id="logo-text"><a href="/" title="">electro<span>glide</span></a></h1>		
		<p id="slogan">Real Projects, Real Challenges, Real Impact ... Get Real!</p>		
			
		
		<div id="header-photo"></div>		
	<!--header ends-->					
	</div>
	<!-- navigation starts-->	
	<div  id="nav">
		<ul>
			<li <%= @current_tab==:home ? 'id="current"' : '' %> >	<a href="/">Home</a></li>		
			<li <%=  @current_tab==:about ? 'id="current"' : '' %> >
				<a href="/about">About</a></li>		
		</ul>
	<!-- navigation ends-->	
	</div>					
			
	<!-- content-wrap starts -->
	<div id="content-wrap">
	
		<div id="main">
		<%= @content_for_layout%>
		<!-- main ends -->	
		</div>
		<div id="sidebar">
			<img src="/images/electroglide-small.jpg" width="159" height="45" alt="Electroglide Small">
			<h3>Links</h3>
			<ul class="sidemenu">
				<li><a href="http://www.codegreenlabs.com/">Agile Philanthropy</a></li>
				<li><a href="http://www.agilealliance.com/patterns/">Agile Alliance</a></li>
				<li><a href="http://agiletoolkit.libsyn.com">AgileToolkit Podcasts</a> </li>
			</ul>

			
			<h3>AgileToolkit Podcasts</h3>
			<p> <%=image_tag("podcast_logo.jpg",:class => "no-border" ,  :size => "100x100") %><br/>
				Agile toolkit is dedicated to delivering the tools and information necessary to deliver Agile Projects 
				in the real world.  Agile Toolkit is sponsored by Electroglide and is dedicated to OpenSource and 
				Open Content. </p>  

			  <p>Sign up on iTunes by searching the Podcast Directry in the iTunes store for Agile Toolkit or visit 
			    <a href="http://agiletoolkit.libsyn.com">AgileToolkit Podcasts</a> 
			      </p>
			
			<h3>Wise Words</h3>
			<p>&quot;Great works are performed not by strength,
			but by perseverance.&quot; </p>
					
			<p class="align-right">- Samuel Johnson</p>
					
						
		<!-- sidebar ends -->		
		</div>		
		
		
	<!-- content-wrap ends-->	
	</div>
		
	<!-- footer starts -->		
	<div id="footer-wrap">
		<div id="footer-bottom">		
			<p>
			&copy; 2008 <strong>Electroglide Inc.</strong> | 
			Design by: <a href="http://www.styleshout.com/">styleshout</a> | 
			Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
	 		
			
		</div>	

<!-- footer ends-->
</div>
<!-- wrap ends here -->
</div>

</body>
</html>
